* {
  box-sizing: border-box;
}
:root {
  /* Light Theme */
  --body-color-light: #ffffff;
  --color-default-light: #000000da;
  --navbar-bgc-light: #fff2ed;
  --color-highlight-light: #371707;
  --header-bgc-light: #ffffff;
  --highlight-bgc-light: #FFDDCC;
  --highlight-bgc-lighter-light: #FFDDCC;
  --highlight-btn-light: #69473A;
  --hover-bgc-light: #00000046;
  --note-bgc-light: #FFF8F5;
  --note-hover-bgc-light: #f6dad072;
  --note-border-light: #85736B;
  --modal-bgc-light: #EDDFD9;
  --modal-btn-light: #69473A;
  --color-gray-light: #666666;
  --box-shadow-1-light: #0000000c;
  --box-shadow-2-light: #0000000b;
  --setting-bgc-light: #ffffff;

  /* Dark Theme */
  --navbar-bgc-dark: #201A18;
  --body-color-dark: #201a18ab;
  --color-highlight-dark: #FFDDCC;
  --header-bgc-dark: #201A18;
  --highlight-bgc-dark: #783100;
  --highlight-bgc-lighter-dark: #5C4032;
  --highlight-btn-dark: #FFDDCC;
  --hover-bgc-dark: #aeaeae70;
  --note-bgc-dark: #181110;
  --note-border-dark: #342D2A;
  --note-hover-bgc-dark: transparent;
  --modal-bgc-dark: #3A3330;
  --modal-btn-dark: #69473A;
  --color-gray-dark: #ffffff;
  --box-shadow-1-dark: #0000000c;
  --box-shadow-2-dark: #0000000b;
  --setting-bgc-dark: #201A18;

  /* Common */
  --content-padding: 48px;
  --sidebar-width: 360px;
}
[data-theme="light"] {
  color-scheme: light;

  --body-color: var(--body-color-light);
  --color-default: var(--color-default-light);
  --navbar-bgc: var(--navbar-bgc-light);
  --color-highlight: var(--color-highlight-light);
  --header-bgc: var(--header-bgc-light);
  --highlight-bgc: var(--highlight-bgc-light);
  --highlight-bgc-lighter: var(--highlight-bgc-lighter-light);
  --highlight-btn: var(--highlight-btn-light);
  --hover-bgc: var(--hover-bgc-light);
  --note-bgc: var(--note-bgc-light);
  --note-hover-bgc: var(--note-hover-bgc-light);
  --note-border: var(--note-border-light);
  --modal-bgc: var(--modal-bgc-light);
  --modal-btn: var(--modal-btn-light);
  --color-gray: var(--color-gray-light);
  --box-shadow-1: var(--box-shadow-1-light);
  --box-shadow-2: var(--box-shadow-2-light);
  --hover-bgc: var(--hover-bgc-light);
  --setting-bgc: var(--setting-bgc-light);
}
[data-theme="dark"] {
  color-scheme: dark;

  --body-color: var(--body-color-dark);
  --color-default: var(--color-default-dark);
  --navbar-bgc: var(--navbar-bgc-dark);
  --color-highlight: var(--color-highlight-dark);
  --header-bgc: var(--header-bgc-dark);
  --highlight-bgc: var(--highlight-bgc-dark);
  --highlight-bgc-lighter: var(--highlight-bgc-lighter-dark);
  --highlight-btn: var(--highlight-btn-dark);
  --hover-bgc: var(--hover-bgc-dark);
  --note-bgc: var(--note-bgc-dark);
  --note-hover-bgc: var(--note-hover-bgc-dark);
  --note-border: var(--note-border-dark);
  --modal-bgc: var(--modal-bgc-dark);
  --modal-btn: var(--modal-btn-dark);
  --color-gray: var(--color-gray-dark);
  --box-shadow-1: var(--box-shadow-1-dark);
  --box-shadow-2: var(--box-shadow-2-dark);
  --hover-bgc: var(--hover-bgc-dark);
  --setting-bgc: var(--setting-bgc-dark);
}
html {
  font-size: 62.5%;
  background-color: color(--body-color-light);
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding-bottom: 20px;
  background-color: var(--body-color);
}
.spinner {
  border: 4px solid rgb(255, 255, 255);
  border-left-color: #7983FF;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  left: 50%;
  z-index: 1000;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spinner.hidden {
  display: none;
}

/* Common Components*/
::selection {
  background-color: #974406;
  color: #fff;
}
::-webkit-scrollbar {
  width: 8px; 
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 4px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
.icon-btn-wrapper {
  display: flex;
}
.icon-button {
  --font-size: 1.2rem;
  --radius: 32px;
  justify-self: flex-end;
  color: var(--highlight-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: var(--font-size);
  width: var(--radius);
  height: var(--radius);
}
.icon-button:hover {
  background-color: var(--hover-bgc);
}
.title-clamp {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--clamp);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
strong {
  font-weight: 600;
}
/* Media Query */

@media screen and (max-width: 992px) {
  /* Hide navbar */
  .navbar {
    transform: translateX(-100%);
    visibility: hidden;
  }
  #sidebar-toggler {
    visibility: visible;
  }
  #sidebar-close {
    visibility: visible;
    color: var(--color-default);
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    transform: translateX(0);
    visibility: visible;
  }
  body {
    padding-left: var(--sidebar-width);
  }
  #sidebar-toggler {
    visibility: hidden;
  }
  #sidebar-overlay {
    visibility: hidden;
  }
}

/* Sidebar */
.navbar {
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--navbar-bgc);
  width: var(--sidebar-width);
  box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
  transition-property: visibility, transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  z-index: 4;
}
.navbar--active {
  transform: translateX(0);
  visibility: visible;
}
.sidebar {
  background-color: var(--navbar-bgc);
  padding: 8px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-header-row .icon-button {
  --font-size: 1.6rem;
  visibility: hidden;
}
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  visibility: hidden;
}
.sidebar-overlay--active {
  visibility: visible;
}
.logo-wrapper {
  padding: 16px;
  display: flex;
}
.logo-text {
  margin-left: 8px;
  margin-top: 2px;
  font-family: "Lato", serif;
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--color-default);
}

.account-wrapper {
  display: flex;
  align-items: center;
  padding: 16px 6px;

}
.account-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.account-icon {
  font-size: 2.3rem;
  border-radius: 50%;
  color: var(--color-default)
}
.account-info {
  margin-left: 8px;
}
.account-info__name {
  font-weight: 600;
  color: var(--color-default);
  font-size: 1.7rem;
  line-height: 1.7;
  max-width: calc(360px - 100px);
}
.account-info__email {
  font-size: 1.4rem;
  line-height: 2;
  color: var(--color-gray);
  max-width: calc(360px - 100px);
}

.btn {
  margin-top: 16px;
  display: inline-flex;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
  gap: 8px;
  
  color: var(--color-highlight);
  font-weight: 600;
  line-height: 1.3em;
  font-size: 1.4rem;

  background-color: var(--highlight-bgc);
  padding: 16px 18px;
  border-radius: 8px;
  transition: all 0.5s ease;

}
.btn__icon {
  font-size: 1em;
  color: var(--color-highlight);
}
.btn:hover {
  background-color: var(--hover-bgc)
}


.notebooks-list-wrapper {
  margin-top: 25px;
}
.notebooks-list__title {
  font-weight: 500;
  color: var(--color-default);
  margin-bottom: 16px;
  margin-left: 8px;
}
#notebooks-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: max(100vh - 365px);
  padding-right: 5px;
  gap: 5px;
}
#notebooks-list::-webkit-scrollbar {
  width: 6px; 
}
#notebooks-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); 
  border-radius: 4px;
}
#notebooks-list:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.notebook-item {
  display: flex;
  padding: 6px 15px;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 48px;
  border-radius: 999px;
  transition: all 0.5s ease;
}
.notebook-item:hover {
  background-color: #66666636;
}
.notebook-item:hover .notebook-btn-wrapper {
  visibility: visible;
  opacity: 1;
}
.notebook-item__title {
  line-height: 1.6;
}
.notebook-item__title:empty::before {
  content: '\a0';
}
.notebook-item__title:focus {
  line-height: 1.6;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}
.notebook-item--active {
  background-color: var(--highlight-bgc-lighter);
  color: var(--color-highlight);
  font-weight: 500;
}
.notebook-btn-wrapper {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
.notebook-item--active .notebook-btn-wrapper {
  visibility: visible;
}

.account-action {
  display: none;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  background-color: var(--note-bgc);
  border: 1px solid var(--note-border);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s ease;
  height: 50px;
  margin-top: 16px;
}
.account-action:hover {
  background-color: var(--note-hover-bgc);
}
.account-action .account-icon {
  color: var(--color-highlight);
}
.account-action__title {
  font-weight: 500;
  justify-self: center;
  line-height: 1.8;
  color: var(--color-highlight);
}
/* Main content */
.container {
  margin: auto;
  width: calc(100% - var(--content-padding));
}
/* Empty tooltip */
.empty-tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 68px);
  font-size: 2rem;
  color: var(--color-default);
  gap: 10px;
  display: none;
}
.empty-tooltip__icon {
  font-size: 5rem;
  color: #ccc;
}
.empty-tooltip__title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #ccc;
}
.empty-tooltip--active {
  display: flex;
}
/* Header */
.header {
  background-color: var(--header-bgc);
  position: sticky;
  top: 0;
  padding: 24px 0;
  box-shadow: 0px 1px 3px 0px var(--box-shadow-1), 0px 4px 8px 3px var(--box-shadow-2);
  z-index: 2;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.greeting__title {
  font-size: 1.8rem;
  font-weight: 450;
  display: flex;
  align-items: center;
  gap: 8px;
}
.dateTime {
  font-size: 1.4rem;
  color: var(--color-default);
  margin-top: 12px;
}
.header__btn {
  color: var(--color-default);
  font-size: 1.6rem;
}

#settings-wrapper {
  position: relative;
}
.settings-body {
  position: absolute;
  top: 40px;
  right: 12px;
  min-width: 160px;
  border-radius: 3px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
  background: var(--setting-bgc);

  transform-origin: 93% top;
  scale: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s, scale 0.2s;
}
.settings-list {
  display: flex;
  flex-direction: column;
}
.settings-list__header {
  padding: 12px 10px;
  font-weight: 600;
  color: var(--color-default);
}
.settings-list__item {
  padding: 12px 12px;
  cursor: pointer;
  transition: background 0.5s ease;
  font-size: 1.4rem;
}
.settings-list__item:hover {
  background-color: #66666636;
}
.settings-body--active {
  opacity: 1;
  visibility: visible;
  scale: 1;
}

/* Note list */
.notes-list-wrapper {
  margin-top: 40px;
  display: none;
}
.notebook-title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.notebook-icon {
  font-size: 1.8rem;
  color: var(--color-default);
}
.notes-list-wrapper .notebook-title {
  font-weight: 500;
  color: var(--color-default);
  align-self: flex-start;
  line-height: 1.6;
}
.decoration-arrow {
  font-size: 1rem;
  color: var(--color-default);
  align-self: center;
}

#notes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  margin-top: 32px;
  gap: 24px;
}
#notes-list::-webkit-scrollbar {
  width: 6px;
}
.add-note__icon {
  font-size: 5rem;
  color: var(--highlight-btn);
}
.add-note-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.note-item {
  display: inline-flex;
  flex-direction: column;
  height: 280px;
  background-color: var(--note-bgc);
  padding: 16px;
  border: solid 1px var(--note-border);
  border-radius: 16px;
  cursor: pointer;
  gap: 16px;
  animation: note-show 400ms cubic-bezier(0.2, 0, 0, 1) forwards;
}
@keyframes note-show {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.note-item:hover {
  background-color: var(--note-hover-bgc);
}
.note-item:hover .icon-btn-wrapper {
  visibility: visible;
}
.note-title {
  font-weight: 500;
  line-height: 1.6;
}

.note-content {
  color: var(--color-default);
  line-height: 1.3;
  --clamp: 8;
}

.note-status {
  justify-self: flex-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.note-status .icon-btn-wrapper {
  visibility: hidden;
}
.note-date {
  color: var(--color-highlight);
  font-size: 1.4rem;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: calc(100% - 32px);
  background-color: var(--modal-bgc);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
  animation: modal-show 400ms cubic-bezier(0.2, 0, 0, 1) forwards;
  max-height: calc(100vh - 48px);
}
@keyframes modal-show {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  visibility: hidden;
}
.modal-overlay--active {
  visibility: visible;
}
.modal-overlay--transparent {
  background-color: transparent;
  visibility: visible;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.modal-title {
  color: var(--color-default);
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
}
.modal-input {
  display: block;
  border: none;
  background-color: transparent;
  font-family: inherit;
}
.modal-input:focus {
  outline: none;
}
.modal-notebook-input {
  width: 100%;
  border-bottom: 2px solid #ccc;
  padding: 10px 7px;
  transition: ease border-color 0.5s;
  font-size: 1.4rem;
}
.modal-notebook-input:focus {
  border-color: var(--color-highlight);
}
.modal-text-area {
  display: inline-block;
  font-family: inherit;
  background-color: transparent;
  border: none;
  min-height: 240px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  resize: vertical;
  width: 100%;
  line-height: 1.6;
  font-size: 1.4rem;
}
.modal-text-area:focus {
  outline: none;
}
.modal-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.note-date--modal {
  color: var(--color-default);
}
.modal-btn-wrapper {
  display: flex;
  margin-left: auto;
  gap: 8px;
}
.modal-btn {
  padding: 10px 12px;
  cursor: pointer;
  background-color: var(--modal-btn);
  border-radius: 12px;
  color: #fff;
  font-weight: 400;
  transition: ease all 0.5s;
}
.modal-btn__icon {
  color: #fff;
  margin-right: 4px;
}
.modal-btn:hover {
  background-color: var(--hover-bgc);
}
.modal-dialog__body {
  color: color(--color-gray);
}
.modal-dialog__title {
  display: inline-block;
  font-weight: 500;
  margin-top: 16px;
  max-width: 50%;
  position: relative;
}
.modal-account {
  max-width: 400px;
  width: calc(100% - 32px);
  padding: 24px;
}
.modal-row {
  display: flex;
  justify-content: flex-end;
}
.modal-account__close-btn {
  justify-self: flex-end;
  cursor: pointer;
  display: inline-block;
}
.modal-account__close-btn .icon-button {
  font-size: 1.6rem;
  color: var(--color-default);
}
.modal-account .modal-title {
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
  text-align: center;
}
.modal-account .modal-body {
  margin-top: 20px;
}
.modal-account-update .modal-title {
  text-align: center;
  font-weight: 600;
}
.modal-account-update .modal-body {
  margin-top: 16px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-text {
  position: relative;
}
.input-text input,
.input-text label {
  font-size: 1.4rem;
}
.input-text input {
  width: 100%;
  padding: 10px 7px;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: border-color 0.5s;
  background-color: transparent;
}
.input-text input:focus {
  border-color: var(--color-highlight);
  outline: none;
}
.input-text input:focus + label,
.input-text input:not(:placeholder-shown) + label {
  translate: 0 -31px;
  font-weight: 500;
}
.input-text input:focus + label {
  color: var(--highlight-btn);
}

.input-text label {
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 6px;
  translate: 0 -50%;
  background: var(--modal-bgc);
  color: var(--color-gray);
  transition: translate, color, text-shadow;
  transition-duration: 0.5s;
  pointer-events: none;
}
.error {
  color: #cc3a3a;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 5px;
  line-height: 1.4;
}
.change-form-wrapper {
  margin-top: 30px;
  display: flex;
  gap: 6px;
}
.change-form {
  text-decoration: none;
  color: var(--color-highlight);
  font-weight: 600;
}

.modal-account .modal-footer {
  margin-top: 30px;
}
.account-modal-btn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: var(--modal-btn);
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease all 0.4s;
}
.account-modal-btn:hover {
  background-color: var(--hover-bgc);
}
